<section
  class="w-full max-w-fit px-6 py-4 flex-shrink mx-auto bg-base-100 max-h-fit rounded-md shadow-md m-4"
>
  <h2 class="text-3xl font-semibold text-center text-base-content">
    Submit A Post
  </h2>

  <div class="mt-6">
    <iframe
      name="dummyframe"
      src="."
      id="dummyframe"
      style="display: none"
    ></iframe>
    <form
      action="/api/timeline_post"
      method="POST"
      id="postsubmit"
      target="dummyframe"
    >
      <div class="items-center -mx-2 md:flex">
        <div class="w-full mx-2">
          <label class="block mb-2 text-sm font-medium text-base-content"
            >Name</label
          >
          <input
            class="block w-full px-4 py-2 text-base-content bg-base-100 border rounded-md focus:border-primary-focus focus:ring-primary focus:outline-none focus:ring focus:ring-opacity-40"
            type="text"
            name="name"
          />
        </div>
        <div class="w-full mx-2 mt-4 md:mt-0">
          <label class="block mb-2 text-sm font-medium text-base-content"
            >E-mail</label
          >
          <input
            class="block w-full px-4 py-2 text-base-content bg-base-100 border rounded-md focus:border-primary-focus focus:ring-primary focus:outline-none focus:ring focus:ring-opacity-40"
            type="email"
            name="email"
          />
        </div>
      </div>

      <div class="w-full mt-4">
        <label class="block mb-2 text-sm font-medium text-base-content"
          >Message</label
        >

        <textarea
          class="block w-full h-40 px-4 py-2 text-base-content bg-base-100 border rounded-md focus:border-primary-focus focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-40"
          name="content"
        ></textarea>
      </div>

      <div class="flex justify-center mt-6">
        <button
          class="px-4 py-2 text-base-content transition-colors duration-200 transform bg-base-100 rounded-md hover:bg-base-200 focus:outline-none focus:bg-base-300"
          onclick="setTimeout(function(){
   window.location.reload();
}, 1000);"
        >
          <input type="submit" value="Submit" />
        </button>
      </div>
    </form>
  </div>
</section>
