{% for post in timeline.timeline_posts %}
<div class="max-w-2xl px-8 py-4 mx-auto my-4 bg-base-100 rounded-lg shadow-md">
  <div class="flex items-center justify-between">
    <span class="text-sm font-light text-base-content"
      >{{post.created_at.strftime("%d %B, %Y")}}</span
    >
    <div class="flex items-center">
      <img
        class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block"
        src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=40&q=80"
        alt="avatar"
      />
      <a class="font-bold text-gray-700 cursor-pointer dark:text-gray-200"
        >{{post.name}}</a
      >
    </div>
  </div>
  <div class="mt-2">
    <p class="mt-2 text-base-content">{{post.content}}</p>
  </div>
  <div class="flex items-center justify-between mt-4">
    <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline"
      >{{post.email}}</a
    >
  </div>
</div>
{% endfor %}
