<!-- Base Extension -->
{% extends 'base.html' %}

<!-- Content -->
{% block content %}
<div class="p-8 my-8">
  {% for document in education %}
  <div class="card lg:card-side bg-primary text-primary-content shadow-xl">
    <figure><img src="../static/img/yale.jpeg" alt="Yale" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{document.university}} c/o {{document.year}}</h2>
      <p>
        {% for degree in document.degrees %} {{degree}}<br />
        {% endfor %}
      </p>
      <img src="../static/img/thinking.svg" />
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
