{% extends 'base.html' %}

{% block head %}
<meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Education</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="icon">
            <img src="./static/img/grad-cap.png" width="200" height="200">
        </div>
        <div class="education-description">
            <h5>
                University Name
            </h5>
            <h5>
                Degree and Major, Completion Date
            </h5>
            <h6>
                asdfghjkll asdfghjkll asdfghjkll asdfghjkll asdfghjkll asdfghjkll asdfghjkll asdfghjkll asdfghjkll asdfghjkll 
            </h6>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <p>I love the Flask Framework. I can make so many things simply by leveraging code that other people have made for me to use</p>
        </div>
        <div class="col-lg-4">
            <p>The languages that you see on this app are HTML, CSS, Python and some JavaScript. By using this BootStrap template I saved myself a lot of time. Instead of creating the HTML and CSS from scratch I was able to edit the template to the way I wanted it to look like.</p>
        </div>
    </div>
</div> -->
<!-- 
<div class="container-dark">
			
    <h3 class="text-center thin">Certificates</h3>
    <hr class="star-light">
    
    <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Bootstrap-powered</h4></div>
            <div class="h-body text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Fat-free</h4></div>
            <div class="h-body text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Creative Commons</h4></div>
            <div class="h-body text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Author's support</h4></div>
            <div class="h-body text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
            </div>
        </div>
    </div> 

</div> -->
{% endblock %}

