<!-- Base Extension -->
{% extends 'base.html' %}

<!-- Content -->
{% block content %}
<!-- <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpytorch%2Fpytorch%2Fblob%2Fmaster%2Ftorch%2Fnn%2Fcpp.py&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script> -->

<div
  class="flex flex-col-reverse w-full justify-center justify-items-center items-center bg-base-100"
>
  {% for job in experiences %}
  <div
    class="card w-1/2 bg-base-300 text-base-content m-4 hover:bg-primary hover:text-primary-content"
  >
    <div class="card-body">
      <h2 class="card-title">
        {{ job.title }}
        <br />
        {{ job.year }}
      </h2>
      <span class="content">{{ job.content }}</span>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
