{% extends 'base.html' %} {% block content %}

<div class="carousel h-96 mt-10">
  <div id="item1" class="carousel-item">
    <img src="./static/img/close-up-tennis-rackets-balls-ground.jpg" class="" />
  </div>
  <div id="item2" class="carousel-item">
    <img
      src="./static/img/rear-view-young-backpacker-couple-sitting-relax-front-tent-near-lake-with-coffee-set-making-fresh-coffee-grinder-while-camping-trip-summer-vacation.jpg"
      class=""
    />
  </div>
  <div id="item3" class="carousel-item">
    <img src="./static/img/cyclist-man-riding-bike-road.jpg" class="" />
  </div>
  <div id="item4" class="carousel-item">
    <img src="./static/img/casino-g53fc0cec1_640.jpg" class="" />
  </div>
  <div id="item5" class="carousel-item">
    <img src="./static/img/mt-cook-geec925d84_640.jpg" class="" />
  </div>
  <div id="item6" class="carousel-item">
    <img src="./static/img/man-g8345091d0_640.jpg" class="" />
  </div>
  <div id="item7" class="carousel-item">
    <img src="./static/img/audience-g3b0c9f723_640.jpg" class="" />
  </div>
</div>
<div class="flex justify-center w-full py-2 gap-2">
  <a href="#item1" class="btn btn-xs">1</a>
  <a href="#item2" class="btn btn-xs">2</a>
  <a href="#item3" class="btn btn-xs">3</a>
  <a href="#item4" class="btn btn-xs">4</a>
  <a href="#item5" class="btn btn-xs">5</a>
  <a href="#item6" class="btn btn-xs">6</a>
  <a href="#item7" class="btn btn-xs">7</a>
</div>

{% endblock content %}
