{% extends 'base.html' %} {% block content %}
<div
  class="max-w-2xl px-8 py-4 mx-auto bg-primary my-8 text-base-100 rounded-lg shadow-md dark:bg-gray-800"
>
  <div class="flex items-center justify-between">
    <div class="flex flex-col place-items-center">
      <h1>Hometown - Missouri City, Texas</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111068.44636095993!2d-95.60665677244633!3d29.548728183982202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640e1ec4548c89d%3A0xb8c5da032c46!2sMissouri%20City%2C%20TX!5e0!3m2!1sen!2sus!4v1656712644588!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<div
  class="max-w-2xl px-8 py-4 my-8 text-base-100 mx-auto bg-primary rounded-lg shadow-md dark:bg-gray-800"
>
  <div class="flex items-center justify-between">
    <div class="flex flex-col place-items-center">
      <h1>Favorite City - Lisbon, Portugal</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40725.07691945406!2d-9.190752526701406!3d38.740587032080896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a61e4f33b%3A0x400ebbde49036d0!2sLisbon%2C%20Portugal!5e0!3m2!1sen!2sus!4v1656736289670!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<div
  class="max-w-2xl px-8 py-4 mx-auto my-8 text-base-100 bg-primary rounded-lg shadow-md dark:bg-gray-800"
>
  <div class="flex items-center justify-between">
    <div class="flex flex-col place-items-center">
      <h1>A City That I Want To Visit - La Paz, Bolivia</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122403.44400762072!2d-68.26760431349886!3d-16.520663341068325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf0a04f5a40f%3A0x57dbfc76b4458ab3!2sLa%20Paz%2C%20Bolivia!5e0!3m2!1sen!2sus!4v1656736532472!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<div
  class="max-w-2xl px-8 py-4 mx-auto my-8 text-base-100 bg-primary rounded-lg shadow-md dark:bg-gray-800"
>
  <div class="flex items-center justify-between">
    <div class="flex flex-col place-items-center">
      <h1>Current City - New Haven, Connecticut</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47959.78096195866!2d-72.96411522523489!3d41.2982830936333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7d8443a8070e5%3A0xf6a354c659b264ed!2sNew%20Haven%2C%20CT!5e0!3m2!1sen!2sus!4v1656736667412!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

{% endblock content %}
