{% extends 'base.html' %} {% block content %}
<div class="h-1 w-2 bg-gray-600 border rounded-sm p-1">Hello World</div>
<div class="h-1 w-2 bg-gray-600 border rounded-sm p-1">Hello World</div>
<div class="h-1 w-2 bg-gray-600 border rounded-sm p-1">Hello World</div>
<div class="h-1 w-2 bg-gray-600 border rounded-sm p-1">Hello World</div>
<div class="h-1 w-2 bg-gray-600 border rounded-sm p-1">Hello World</div>
<div class="h-1 w-2 bg-gray-600 border rounded-sm p-1">Hello World</div>
{% endblock content %}
